version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps)"
  - package-ecosystem: "nuget"
    directory: "/" 
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps)"
